-f https://download.pytorch.org/whl/torch_stable.html

setuptools>=65
wheel

Flask==3.0.3
gunicorn==21.2.0
reportlab==4.2.2
pdfminer.six==20240706
pypdfium2==4.30.0
easyocr==1.7.1
opencv-python-headless==4.10.0.84
Pillow==10.4.0
numpy>=2.1.1

torch==2.10.1+cpu
torchvision==0.23.0+cpu
